

<footer class="mainfooter" role="contentinfo">

  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="title">Address</h4>
          <address>
                <ul class="list-unstyled">
                  <li>
                    Av. Maximiliano Velarde Pj2<br>
                    Mz. B Lot 3<br>
                    Tercer Piso<br>
                  </li>
                  <li>
                    Phone: 959363398
                  </li>
                </ul>
              </address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="title" style="margin-bottom: 15px;">Services</h4>
          <ul class="list-unstyled">
            <li><a class="nav-link" style="margin: -15px;" routerLink="/myAccount">None yet</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="title" style="margin-bottom: 15px;">Website Information</h4>
          <ul class="list-unstyled">
            <li><a class="nav-link" style="margin: -15px;" routerLink="/myAccount">FAQs</a></li>
            <li><a class="nav-link" style="margin: -15px;" routerLink="/myAccount">Webmaster</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="title" style="margin-bottom: 15px;">About me</h4>
          <ul class="list-unstyled">
            <li><a class="nav-link" style="margin: -15px;" routerLink="/myCV">CV</a></li>
            <li><a class="nav-link" style="margin: -15px;" href="https://github.com/DiegoSalas27">Github</a></li>
            <li><a class="nav-link" style="margin: -15px;" href="https://www.facebook.com/diego.salasnoain">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-bottom" style="padding-top: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!--Footer Bottom-->
          <p class="text-center">&copy; Copyright 2018 - Dom's BookStore Inc..  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>