
<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <img src="../../../assets/image/yo.jpg" alt="Diego Salas" />
    </div>
    
    <div id="name">
      <h1 class="quickFade delayTwo">Diego Salas</h1>
      <h2 class="quickFade delayThree">Web Developer</h2>
    </div>
    
    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li>email: <a href="mailto:dominicsc2hs@gmail.com" target="_blank">dominicsc2hs@gmail.com</a></li>
        <li>github: <a href="https://github.com/DiegoSalas27">DiegoSalas27</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  
  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>
        <div class="sectionTitle">
          <h1>Personal Profile</h1>
        </div>
        
        <div class="sectionContent">
          <p>I hold a bachellor degree in culinary arts from Le Cordon Bleu University and I am an English teacher certified by the Asociación Cultural Peruano Británica, but stopped working after 2 years. Currently, I´m studying Software engineering at UPC University and I´m in the sixth semester of my carrer. I´m looking forward to developing my skills as a web and android developer, branches in which I consider to have an intermediate level.</p>
        </div>
      </article>
      <div class="clear"></div>
    </section>
    
    
    <section>
      <div class="sectionTitle">
        <h1>Work Experience</h1>
      </div>
      
      <div class="sectionContent">
        <article>
          <h2>Estamos Fritos </h2>
          <p class="subDetails">2015 – December 2015</p>
          <p>Chef in charge of Fry Station</p>
        </article>
        
        <article>
          <h2>Rodrigo restaurant</h2>
          <p class="subDetails">March 2014 - July 2014</p>
          <p>Chef trainee in charge of mise en place</p>
        </article>
        
        <article>
          <h2>Amaz restaurant</h2>
          <p class="subDetails">enero 2013 - abril 2013</p>
          <p>Chef trainee under Cold Station</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    
    
    <section>
      <div class="sectionTitle">
        <h1>Hard Skills</h1>
      </div>
      
      <div class="sectionContent">
        <article>
          <h2>Languages:</h2> <p>JavaScript, Css, Html, Java, C#, C++, Sql</p>
          <h2>DBMS:</h2> <p>Postgres, MySql, Sql Server</p>
          <h2>Frontend:</h2> <p>React, Angular</p>
          <h2>Web frameworks:</h2> <p>ASP.NET, Spring Boot</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    
    
    <section>
      <div class="sectionTitle">
        <h1>Education</h1>
      </div>
      
      <div class="sectionContent">
        <article>
          <h2>UPC University</h2>
          <p class="subDetails">April 2016 - Present </p>
        </article>
        
        <article>
          <h2>Le Cordon Bleu University</h2>
          <p class="subDetails">April 2011- July 2016 </p>
          <p>Finished.</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    
  </div>
</div>

